.lineups-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .lineups-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .lineups-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lineups-container li {
    padding: 5px 0;
  }
  