/* src/components/GameDetails/GameDetails.css */

.game-details-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.lineups-section {
  display: flex;
  justify-content: space-around;
}

.lineup {
  width: 45%;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lineup h3 {
  margin-top: 0;
}

.lineup ul {
  list-style-type: none;
  padding: 0;
}

.lineup li {
  margin-bottom: 10px;
}

.batter-stats {
  margin-left: 10px;
  color: #666;
}

.batter-stats p {
  margin: 0;
}
