.create-header {
  text-align: center;
  margin-bottom: 40px;
}

.loading,
.error {
  text-align: center;
}

.game-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.game-card button {
  padding: 0;
}

.game-title {
  font-size: 1.2em;
}

.game-time {
  margin: 5px 0;
}

.details-link {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
}

.details-link:hover {
  color: darkblue;
}

.lineup {
  margin-top: 10px;
}

.lineups-section {
  display: flex;
  justify-content: space-between;
}

.batter-stats {
  margin-left: 10px;
  font-style: italic;
}

.game-notes {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
}

.game-details {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.game-details-container {
  padding-left: 20px;
  background-color: #f9f9f9;
}

.game-details-container h1 {
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.lineups-section {
  display: flex;
  justify-content: space-around;
}

.lineup {
  width: 45%;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lineup h3 {
  margin-top: 0;
}

.lineup ul {
  list-style-type: none;
  padding: 0;
}

.lineup li {
  margin-bottom: 10px;
}

.batter-stats {
  margin-left: 10px;
  color: #666;
}

.batter-stats p {
  margin: 0;
}
